a {
color: $light-green;
  
}

a:focus, a:hover {
    color: $light-green-darkend;
  }

.menu {
  margin-top: 1em;
  margin-bottom: 1em;

  li a.active {
    // font-weight: bold;
    color: $almost-white;
    background-color: $light-green;
    border-radius: 3px;
    // padding: 0.5em 0.3em;
  }

}
 
body {
  background-color: $light-creme;
  color: $light-green;
}

p {
  color: $for_p;
}

.big-font{
  font-size: $big-font-size;
  color: $light-green;

}

button.button{
  border-radius: $border-radius;
}
