// Colors
$grey: #333333;
$textcolor: #262626;
$almost-white: #d6e1df;
$light-grey: #fafafa;
$light-grey-border: #ddd;
$light-color: #aaa;
$light-creme: #e1e1d7;
$light-dark-creme: #d0d6cc;
$light-green: #58857d;
$light-green-darkend: #3f6c64;
$light-green-line: #bfbfb7;
$for_p: #777;

// font size
$small-font-size: 13px;
$normal-font-size: 1.1rem;
$big-font-size: 2rem;
$normal-font-size-small_screen: 1.0rem;

$top-menu-font-size: 1.2rem;

$form-font-size: 1.4rem;

$small-screen-td-padding: 0.2rem;

// components
$border-radius: 0.2rem;