.credit-form {
  background: $light-dark-creme;
  border: 1px solid $light-grey-border;
  border-radius: 5px;
  padding: 1rem 4rem;
  margin-bottom: 2rem;
  
    /* Small only */
  @media screen and (max-width: 39.9375em) {
    padding: 1rem 1rem;
  }
    

  label {
    color: $light-green;
    font-size: $form-font-size;
  }
}