.language-selector {
  color: $light-green;  
  background-color: $light-dark-creme;
  float: right;
  margin-top: 1rem;
  margin-right: .3rem;
  width: 3rem;
  border-radius: $border-radius;
}